/* здесь используйте глобальные переменные */
// Colors

$base-color-text: #444444;
$base-color-title: #000000;
$additional-color-title: #111111;
$additional-color-title-two: #222222;
$bg-basic-green: #68b738;
$bg-basic-dark-green: #5eaa2f;
$bg-basic-gray: #eaeaea;
$bg-light-gray: #f2f2f2;
$bg-dark-gray: #d9d9d9;
$bg-special-gray: #666666;
$bg-basic-white: #ffffff;
$bg-border-gray: #e7e7e7;
$bg-border-special-gray: #cdcdcd;
$bg-icon-gray: #d3d3d3;
$bg-line-gray: #e6e6e6;
$bg-special-gray-two: #ebebeb;
$bg-radio-gray: #bababa;
$bg-border-error: #ff8282;
$bg-border-dark-gray: #666666;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
