/* здесь используйте глобальные переменные */
// Colors

$base-color-text: #444444;
$base-color-title: #000000;
$additional-color-title: #111111;
$additional-color-title-two: #222222;
$bg-basic-green: #68b738;
$bg-basic-gray: #eaeaea;
$bg-light-gray: #f2f2f2;
$bg-dark-gray: #d9d9d9;
$bg-special-gray: #666666;
$bg-basic-white: #ffffff;
$bg-border-gray: #e7e7e7;
$bg-border-special-gray: #cdcdcd;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
