.advantages {
  margin-bottom: 49px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1224px;
    margin-bottom: 67px;
    border: none;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  margin: 20px 0 40px 20px;
  text-align: left;
  width: 225px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin: 47px 0 0 30px;
    font-size: 60px;
    line-height: 60px;
    width: 375px;
    padding-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    margin: 0 0 0 110px;
  }
}

.advantages__list {
  display: grid;
  row-gap: 20px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 113px;
    align-items: flex-start;
    padding-right: 109px;
    width: 655px;
    margin-left: 30px;
    counter-reset: advantages-counter;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    margin-left: 110px;
    width: 1245px;
    height: 280px;
    padding: 0;
    counter-reset: advantages-counter;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 100px;
  min-height: 60px;
  padding-right: 20px;
  width: 200px;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 245px;
    max-width: 300px;
    padding: 151px 26px 57px 0;
    margin-bottom: 37px;
    background-repeat: no-repeat;
    line-height: 24px;
    font-size: 16px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:last-child {
    margin-bottom: 47px;
  }
}

.advantages__item::before {
  content: " ";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  top: 0;
  left: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .advantages__item::before {
    width: 80px;
    height: 80px;
    left: 0;
    top: 40px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item::after {
    content: counter(advantages-counter);
    counter-increment: advantages-counter;
    position: absolute;
    top: 0;
    right: 26px;
    z-index: -1;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    color: $bg-light-gray;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--sheet::after {
    top: 0;
    right: 48px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item::after {
    content: counter(advantages-counter);
    counter-increment: advantages-counter;
    position: absolute;
    top: 0;
    right: 23px;
    z-index: -1;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    color: $bg-light-gray;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--sheet::after {
    right: 47px;
  }
}

.advantages__item--sheet::before {
  background-image: url("../../images/icons/sheet.svg#sheet");
  background-size: 25px 28px;
}

@media (min-width: $tablet-width) {
  .advantages__item--sheet::before {
    background-size: 30px 32px;
  }
}

.advantages__item--powder::before {
  background-image: url("../../images/icons/powder.svg#powder");
  background-size: 26px 29px;
}

@media (min-width: $tablet-width) {
  .advantages__item--powder::before {
    background-size: 26px 28px;
  }
}

.advantages__item--meal::before {
  background-image: url("../../images/icons/meal.svg#meal");
  background-size: 25px 30px;
}

@media (min-width: $tablet-width) {
  .advantages__item--meal::before {
    background-size: 25px 30px;
  }
}

.advantages__item--scales::before {
  background-image: url("../../images/icons/scales.svg#scales");
  background-size: 26px 31px;
}

@media (min-width: $tablet-width) {
  .advantages__item--scales::before {
    background-size: 26px 31px;
  }
}
