.cards {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto 71px;
    row-gap: 68px;
    column-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    padding-left: 109px;
    width: 1220px;
    margin: 0;
    column-gap: 80px;
    row-gap: 70px;
    justify-content: space-between;
  }
}

.cards__item {
  padding: 22px 20px 24px 20px;
  list-style: none;
  height: 162px;
  border-bottom: 1px solid $bg-dark-gray;
}

.cards__item:first-child {
  padding: 19px 20px 25px 20px;
}

@media (min-width: $tablet-width) {
  .cards__item:first-child {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .cards__item {
    padding: 0;
    border: none;
    height: 502px;
    border-bottom: 0;
    background: linear-gradient(to bottom, $bg-basic-white 73px, $bg-light-gray 73px 511px);
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .cards__item {
    padding: 0;
    border: none;
    height: 503px;
    border-bottom: 0;
    background: linear-gradient(to bottom, $bg-basic-white 73px, $bg-light-gray 73px 511px);
    width: 245px;
  }
}

@media (min-width: $tablet-width) {
  .cards__item:last-child {
    background: $bg-basic-white;
  }
}
