.cooperation {
  min-height: 474px;
  position: relative;
  background-color: $bg-light-gray;
}

@media (min-width: $tablet-width) {
  .cooperation {
    min-height: 600px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
    min-height: 400px;
  }
}

.cooperation iframe {
  border: none;
  display: block;
}

@media (min-width: $tablet-width) {
  .cooperation iframe {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation iframe {
    width: 1440px;
    height: 400px;
  }
}

@media (min-width: $tablet-width) {
  .cooperation--version {
    background-color: $bg-light-gray;
  }
}

.cooperation__information {
  display: flex;
  padding: 26px 20px;
  gap: 17px;
}

@media (min-width: $tablet-width) {
  .cooperation__information {
    padding: 62px 54px 57px 70px;
    column-gap: 307px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__information {
    padding: 60px 75px 57px 80px;
    position: absolute;
    z-index: 1;
    background-color: $bg-basic-white;
    top: 95px;
    left: 110px;
    gap: 87px;
  }
}

.cooperation__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  color: $additional-color-title;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.cooperation__address {
  line-height: 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .cooperation__address {
    font-size: 16px;
    width: 157px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__address {
    width: 161px;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .cooperation__address span {
    display: block;
    padding-top: 20px;
  }
}

.cooperation__map {
  width: 100%;
}

.cooperation__image {
  display: block;
  max-width: none;
}

.cooperation__pin {
  position: absolute;
  background-image: image-set(
      url("../../images/common/pin/map-pin-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/common/pin/map-pin-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/common/pin/map-pin-mobile@2x.png") 2x,
      url("../../images/common/pin/map-pin-mobile@1x.png") 1x
    );
  left: 51%;
  top: 59%;
  transform: translate(-50%, -50%);
  width: 57px;
  height: 57px;
  background-size: 55px 53px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .cooperation__pin {
    top: 67%;
    width: 113px;
    height: 106px;
    background-size: 113px 106px;
    background-image: image-set(
      url("../../images/common/pin/map-pin-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/common/pin/map-pin-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/common/pin/map-pin-tablet@2x.png") 2x,
      url("../../images/common/pin/map-pin-tablet@1x.png") 1x
    );
  }
}

@media (min-width: $desktop-width) {
  .cooperation__pin {
    top: 46%;
    left: 68%;
    width: 113px;
    height: 106px;
    background-size: 113px 106px;
     background-image: image-set(
      url("../../images/common/pin/map-pin-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/common/pin/map-pin-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/common/pin/map-pin-desktop@2x.png") 2x,
      url("../../images/common/pin/map-pin-desktop@1x.png") 1x
    );
  }
}
