.example {
  background-color: $bg-light-gray;
  padding: 25px 20px 20px 20px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
    background-color: $bg-basic-white;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient($bg-basic-white 133px, $bg-light-gray 133px);
    display: flex;
    width: 1440px;
  }
}

@media (min-width: $tablet-width) {
  .example__text {
    padding: 45px 30px 68px 30px;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__text {
    width: 436px;
    margin: 0 224px 30px 110px;
    padding: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: $base-color-title;
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    padding-bottom: 148px;
  }
}

.example__description {
  margin: 0;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    padding-bottom: 69px;
    width: 438px;
  }
}

@media (min-width: $tablet-width) {
  .example__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 366px;
    flex-wrap: wrap;
  }
}

.example__params {
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 34px;
}

@media (min-width: $desktop-width) {
  .example__params {
    padding-bottom: 60px;
  }
}

.example__params-item {
  position: relative;
  box-sizing: border-box;
  padding: 15px 5px;
  width: 124px;
  min-height: 24px;
  border: 1px solid $bg-border-special-gray;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example__params-item {
    padding: 15px 0 11px 0;
    width: 162px;
    height: 71px;
    margin-right: 43px;
  }
}

@media (min-width: $desktop-width) {
  .example__params-item {
    margin-right: 42px;
    padding: 14px 29px 11px 29px;
    width: 162px;
    height: 72px;
  }
}

@media (min-width: $desktop-width) {
  .example__params-item:last-child {
    margin: 0;
  }
}

.example__key {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $base-color-text;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(72%);
}

.example__key-text {
  display: inline-flex;
  max-width: 70%;
  background-color: $bg-light-gray;
}

@media (min-width: $tablet-width) {
  .example__key-text {
    background-color: $bg-basic-white;
    max-width: 100%;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $desktop-width) {
  .example__key-text {
    background-color: $bg-light-gray;
  }
}

.example__key-text::before {
  margin-right: 10px;
  content: "";
}

.example__key-text::after {
  margin-left: 10px;
  content: "";
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $base-color-title;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .example__value {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .example__value {
    font-size: 30px;
    line-height: 37px;
    width: 102px;
  }
}

.example__price {
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .example__price {
    font-size: 20px;
    width: 174px;
    text-align: right;
    padding-bottom: 45px;
    padding-right: 2px;
  }
}

@media (min-width: $desktop-width) {
  .example__price {
    width: 327px;
    text-align: left;
    display: flex;
    gap: 66px;
  }
}

.example__slider {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example__slider {
    background: linear-gradient(to bottom, $bg-basic-white 153px, $bg-basic-gray 153px 384px);
    width: 100%;
    padding-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .example__slider {
    background: none;
    width: 100%;
    padding: 0 110px 10px 0;
  }
}
