.example {
  background-color: $bg-light-gray;
  padding: 25px 20px 37px 20px;
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .example {
    width: auto;
    background-color: $bg-basic-white;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: auto;
    background: linear-gradient($bg-basic-white 140px, $bg-light-gray 140px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    display: flex;
    width: 1440px;
    padding-bottom: 45px;
  }
}

@media (min-width: $tablet-width) {
  .example__text {
    padding: 45px 30px 95px 30px;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__text {
    width: 436px;
    margin: 0 224px 30px 110px;
    padding: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: $base-color-title;
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    padding-bottom: 148px;
  }
}

.example__description {
  margin: 0;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    padding-bottom: 69px;
    width: 438px;
  }
}

.example__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__stats {
    justify-content: start;
    align-items: start;
    column-gap: 44px;
  }
}

.example__value {
  width: 122px;
  min-height: 41px;
  padding-top: 13px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $bg-border-special-gray;
  border-radius: 3px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
}

@media (min-width: $tablet-width) {
  .example__value {
    width: 161px;
    min-height: 58px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: -10px;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
}

.example__key {
  display: inline-block;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  padding-left: 13px;
  padding-right: 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $bg-light-gray;
}

@media (min-width: $tablet-width) {
  .example__key {
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-basic-white;
    padding-left: 7px;
    padding-right: 7px;
    width: 126px;
  }
}

@media (min-width: $desktop-width) {
  .example__key {
    background-color: $bg-light-gray;
    padding-left: 7px;
    padding-right: 7px;
    width: 126px;
  }
}

.example__price {
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 18px;
  padding-left: 47px;
  padding-top: 17px;
}

@media (min-width: $tablet-width) {
  .example__price {
    font-size: 20px;
    width: 174px;
    text-align: right;
    padding-top: 12px;
    margin-left: 74px;
  }
}

@media (min-width: $desktop-width) {
  .example__price {
    width: 327px;
    text-align: left;
    display: flex;
    gap: 66px;
    padding-top: 51px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

.example__slider {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example__slider {
    background: linear-gradient(to bottom, $bg-basic-white 153px, $bg-basic-gray 153px 384px);
    width: 100%;
    padding-bottom: 97px;
  }
}

@media (min-width: $desktop-width) {
  .example__slider {
    background: none;
    width: 100%;
    padding: 0 110px 10px 0;
  }
}
