.footer {
  background-color: $bg-light-gray;
  padding: 40px 20px 0 20px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .footer {
    width: 708px;
    height: 37px;
    padding: 55px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 1220px;
    height: 37px;
    padding: 66px 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  padding: 0 96px;
}

@media (min-width: $tablet-width) {
  .footer__logo {
    padding: 0;
  }
}

.footer__image {
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .footer__image {
    padding: 0;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-top: 1px solid $bg-dark-gray;
  border-bottom: 1px solid $bg-dark-gray;
  column-gap: 24px;
}

@media (min-width: $tablet-width) {
  .footer__social {
    border: none;
    padding: 0;
  }
}

.footer__copyright {
  padding: 20px 0 40px 0;
}

@media (min-width: $tablet-width) {
  .footer__copyright {
    padding: 0;
    width: 168px;
  }
}
