@media (min-width: $tablet-width) {
  .form__wrapper {
    padding-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    gap: 80px;
  }
}

.form__filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .form__filter-group--contacts {
    display: flex;
    gap: 22px;
  }
}

.form__group {
  padding: 0 20px 14px 20px;
  height: 45px;
  width: 280px;
  display: flex;
  gap: 12px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .form__group {
    padding: 0 0 20px 0;
    height: 52px;
    width: 628px;
  }
}

@media (min-width: $desktop-width) {
  .form__group {
    width: 569px;
  }
}

.form__group:last-child {
  padding: 0 20px 24px 20px;
  border-bottom: 1px solid $bg-dark-gray;
}

@media (min-width: $tablet-width) {
  .form__group:last-child {
    padding: 0 0 72px 0;
    border-bottom: none;
  }
}

.form__label {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .form__label {
    padding-top: 10px;
    font-size: 20px;
    line-height: 29px;
  }
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: $base-color-text;
  text-transform: uppercase;
  height: 18px;
  width: 228px;
  border: 1px solid $bg-border-gray;
  padding: 12px 0 12px 17px;
}

@media (min-width: $tablet-width) {
  .form__input {
    padding: 9px 0 10px 20px;
    height: 30px;
    width: 568px;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .form__input {
    padding: 10px 0 10px 20px;
  }
}

.form__filter {
  list-style: none;
  margin: 0;
  padding: 22px 20px 19px 20px;
  border-bottom: 1px solid $bg-dark-gray;
}

@media (min-width: $tablet-width) {
  .form__filter {
    padding: 23px 0 27px 27px;
    border: 1px solid $bg-border-gray;
  }
}

@media (min-width: $desktop-width) {
  .form__filter {
    padding: 25px 0 24px 28px;
  }
}

.form__information {
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  margin: 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  box-shadow: -40px 0 0 0 $bg-basic-white, 40px 0 0 0 $bg-basic-white;
  background-color: $bg-basic-white;
}

@media (min-width: $tablet-width) {
  .form__information {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__information::before {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $bg-basic-green;
    box-shadow: 100vw 0 0 $bg-basic-green;
    z-index: -1;
    content: "";
}

.form__information--contacts {
  padding: 26px 113px 35px 20px;
}

@media (min-width: $tablet-width) {
  .form__information--contacts {
    padding: 0 0 75px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__information--contacts {
    padding: 0 0 75px;
  }
}

.form__information--comments {
  padding: 0 179px 38px 20px;
}

@media (min-width: $tablet-width) {
  .form__information--comments {
    padding: 0 0 87px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__information--comments {
    padding: 0 0 78px 0;
  }
}

.form__information--additionally {
  padding: 0 0 32px 20px;
}

@media (min-width: $tablet-width) {
  .form__information--additionally {
    padding: 0 0 57px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__information--additionally {
    padding: 0 0 55px;
  }
}

.form__text {
  line-height: 16px;
  text-align: center;
  color: $base-color-title;
  padding-left: 64px;
}

@media (min-width: $tablet-width) {
  .form__text {
    font-size: 16px;
    line-height: 16px;
    padding-left: 57px;
    padding-top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__text {
    padding-left: 77px;
    padding-top: 18px;
  }
}

.form__button {
  padding: 10px 20px 32px 20px;
}

@media (min-width: $tablet-width) {
  .form__button {
    padding: 0;
    display: flex;
  }
}
