.form__filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__group {
  padding: 0 20px 14px 20px;
  height: 45px;
  width: 280px;
  display: flex;
  gap: 13px;
  list-style: none;
}

.form__group:last-child {
  padding: 0 20px 24px 20px;
}

.form__label {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-top: 13px;
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: $base-color-text;
  text-transform: uppercase;
  height: 18px;
  width: 228px;
  border: 1px solid $bg-border-gray;
  padding: 12px 0 12px 17px;
}

.form__input:hover {
  border: 1px solid $bg-border-special-gray;
}

.form__input:focus {
  border: 1px solid $base-color-text;
}

.form__input--error {
  border: 1px solid $bg-border-error;
}

@media (min-width: $tablet-width) {
  .form__input {
    padding: 9px 0 10px 20px;
    min-height: 30px;
    width: 568px;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .form__input {
    padding: 10px 0 10px 20px;
  }
}

.form__filter {
  list-style: none;
  margin: 0;
  padding: 22px 20px 19px 20px;
}

.form__information {
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  margin: 0;
}

.form__information--contacts {
  padding: 0 0 33px 20px;
  width: 187px;
}

@media (min-width: $tablet-width) {
  .form__information--contacts {
    padding: 0 0 75px 0;
    width: 514px;
  }
}

@media (min-width: $desktop-width) {
  .form__information--contacts {
    padding: 0 0 75px;
  }
}

.form__information--comments {
  padding: 0 0 38px 20px;
}

@media (min-width: $tablet-width) {
  .form__information--comments {
    padding: 0 0 87px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__information--comments {
    padding: 0 0 78px 0;
  }
}

.form__information--additionally {
  padding: 0 0 34px 20px;
}

@media (min-width: $tablet-width) {
  .form__information--additionally {
    padding: 0 0 57px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__information--additionally {
    padding: 0 0 55px;
  }
}

.form__text {
  line-height: 16px;
  text-align: center;
  color: $base-color-title;
  padding-left: 64px;
}

.form__button {
  padding: 10px 20px 32px 20px;
}
