@media (min-width: $desktop-width) {
  .functions {
    display: flex;
    padding: 0 110px 36px 110px;
    width: 1220px;
    min-height: 374px;
    column-gap: 80px;
  }
}

.functions__block {
  background-color: $bg-light-gray;
  position: relative;
  margin: 0 20px 0 20px;
  width: 280px;
  min-height: 267px;
}

@media (min-width: $tablet-width) {
  .functions__block {
    width: 593px;
    min-height: 279px;
    padding: 77px 63px 16px 52px;
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .functions__block {
    width: 457px;
    padding: 47px 61px 50px 52px;
    margin: 0;
  }
}

.functions__block::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-basic-green;
}

@media (min-width: $tablet-width) {
  .functions__block::before {
    width: 200px;
    height: 200px;
    top: 92px;
    left: 445px;
  }
}

@media (min-width: $desktop-width) {
  .functions__block::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.functions__block::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 50px;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .functions__block::after {
    width: 268px;
    height: 194px;
  }
}

.functions__block--slim::after {
  background-image: url("../../images/icons/stack.svg#cat");
  background-size: 36px 50px;
  background-position: center top;
  top: 21px;
  left: 11px;
}

@media (min-width: $tablet-width) {
  .functions__block--slim::after {
    background-size: 140px 194px;
    top: 81px;
    left: 412px;
  }
}

@media (min-width: $desktop-width) {
  .functions__block--slim::after {
    background-size: 70px 97px;
    top: 41px;
    left: -32px;
  }
}

.functions__block--slim {
  margin-bottom: 20px;
  background-color: $bg-light-gray;
}

@media (min-width: $tablet-width) {
  .functions__block--slim {
    margin-bottom: 30px;
  }
}

.functions__block--weight {
  background-color: $bg-light-gray;
}

@media (min-width: $tablet-width) {
  .functions__block--weight {
    margin-bottom: 30px;
  }
}

.functions__block--weight::after {
  background-image: url("../../images/icons/stack.svg#panther");
  background-size: 67px 28px;
  background-position: center top;
  top: 35px;
  left: 11px;
}

@media (min-width: $tablet-width) {
  .functions__block--weight::after {
    background-size: 268px 112px;
    top: 135px;
    left: 411px;
  }
}

@media (min-width: $desktop-width) {
  .functions__block--weight::after {
    background-size: 134px 56px;
    top: 67px;
    left: -35px;
  }
}

.functions__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 29px 90px;
}

@media (min-width: $tablet-width) {
  .functions__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 24px 0;
    color: $base-color-title;
  }
}

@media (min-width: $desktop-width) {
  .functions__title {
    padding: 30px 0 73px 162px;
    text-align: center;
    width: 206px;
  }
}

@media (min-width: $desktop-width) {
  .functions__title--slim {
    padding: 30px 0 73px 141px;
  }
}

.functions__description {
  margin: 0 20px;
  border-bottom: 1px solid $bg-dark-gray;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .functions__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    padding: 0 0 54px 0;
    color: $base-color-title;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .functions__description {
    padding: 0 0 28px 0;
    width: 457px;
    border-bottom: none;
  }
}

.functions__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: $base-color-title;
  text-transform: uppercase;
  background-image: url("../../images/icons/stack.svg#arrow");
  background-size: 24px 12px;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  width: fit-content;
}

.functions__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .functions__link {
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    background-position: right center;
    padding: 0 51px 0 0;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .functions__link {
    background-position: right center;
    margin-top: -2px;
    padding-right: 51px;
  }
}
