.functions__block {
  background-color: $bg-light-gray;
  position: relative;
  margin: 0 20px 0 20px;
}

.functions__block:before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}

.functions__block::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 12px;
  width: 68px;
  height: 50px;
  background-repeat: no-repeat;
}

.functions__block--slim::after {
  background-image: url("../../images/icons/cat.svg#cat");
  background-size: 36px 50px;
  background-position: center top;
}

.functions__block--slim {
  margin-bottom: 20px;
}

.functions__block--weight::after {
  background-image: url("../../images/icons/panther.svg#panther");
  background-size: 67px 28px;
  background-position: center top;
}

.functions__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 80px 29px 90px;
}

.functions__description {
  margin: 0;
  padding: 0 33px 38px 20px;
}

.functions__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $base-color-title;
  text-transform: uppercase;
  background-image: url("../../images/icons/arrow.svg#arrow");
  background-size: 32px 10px;
  background-repeat: no-repeat;
  background-position: 98px center;
  width: 139px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 18px;
}
