.goal__item {
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .goal__item {
    padding-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .goal__item {
    width: 541px;
  }
}

.goal__item:last-child {
  padding-bottom: 0;
}

.goal__label {
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .goal__label {
    display: flex;
    gap: 19px;
    align-items: center;
  }
}

.goal__input--radio {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid $bg-border-special-gray;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

@media (min-width: $tablet-width) {
  .goal__input--radio {
    position: relative;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid $bg-border-special-gray;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }
}

.goal__input--radio:checked::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  margin-top: 50%;
  margin-left: 50%;
  background-color: $bg-basic-green;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .goal__input--radio:checked::before {
    width: 18px;
    height: 18px;
  }
}

.goal__label-text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: $base-color-text;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .goal__label-text {
    font-size: 20px;
    line-height: 29px;
  }
}
