.goods {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .goods {
    margin: 0 31px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    margin: 0;
  }
}

.goods__item {
  border-top: 1px solid $bg-dark-gray;
  padding: 13px 20px 19px 20px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .goods__item {
    padding-left: 38px;
    border-top: 1px solid $bg-border-special-gray;
    border-left: 1px solid $bg-border-special-gray;
    border-right: 1px solid $bg-border-special-gray;
    padding-bottom: 35px;
    padding-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .goods__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: none;
    border-right: none;
    padding-top: 14px;
    padding-left: 0;
    padding-bottom: 37px;
    width: 894px;
    height: 20px;
  }
}

.goods__item:last-child {
  border-bottom: 1px solid $bg-dark-gray;
}

@media (min-width: $tablet-width) {
  .goods__item:last-child {
    border-bottom: 1px solid $bg-border-special-gray;
  }
}
