.header__container {
  margin: 0 auto;
  min-width: 280px;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .header__container {
    display: flex;
    align-items: center;
    padding: 25px 34px 65px 30px;
    width: 704px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    display: flex;
    align-items: center;
    padding: 55px 110px 29px 110px;
    width: 1220px;
    margin: 0;
    height: 59px;
  }
}

.header__logo {
  padding: 13px 0 15px;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .header__logo {
    padding: 0;
  }
}
