.hero {
background-image: url(../../images/index/background/index-background-mobile@1x.jpg);
background-size: 100% 302px,100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
padding-bottom: 10px;
min-height: 472px;
color: #fff;
text-align: center;
padding: 0;
margin-bottom: 20px;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $bg-basic-white;
  padding: 27px 35px 25px 36px;
  margin: 0;
}

.hero__subtitle {
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  color: $bg-basic-white;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

.hero__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero__image {
  width: 280px;
  height: 270px;
}

.hero__link {
  padding: 10px 64px;
}
