.hero {
  background-image: url("../../images/index/background/index-background-mobile@1x.jpg");
  background-size: 100% 302px, 100%;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 472px;
  color: $bg-basic-white;
  text-align: center;
  padding: 0 0 10px 0;
  margin-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .hero {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 29px;
    margin: 0;
    min-height: 0;
    color: $base-color-title;
    text-align: left;
    background-image: none;
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: 966px;
    padding-left: 190px;
    padding-right: 0;
    margin: 0;
    position: unset;
    padding-bottom: 134px;
    height: 499px;
  }
}

@media (min-width: $desktop-width) {
  .hero::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50%;
    height: 694px;
    z-index: -2;
    background-image: url("../../images/index/background/index-background-desktop@1x.jpg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    display: grid;
    height: 810px;
  }
}

@media (min-width: $desktop-width) {
  .hero__content {
    width: 414px;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 237px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $bg-basic-white;
  padding: 26px 35px 25px 36px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .hero__title {
    padding: 0 0 40px 90px;
    margin: 0;
    min-height: 0;
    color: $base-color-title;
    text-align: left;
    max-width: 414px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .hero__title {
    padding: 81px 0 40px 0;
  }
}

.hero__subtitle {
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  color: $bg-basic-white;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .hero__subtitle {
    padding: 0 0 21px 90px;
    min-height: 0;
    color: $base-color-title;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .hero__subtitle {
    padding: 0;
  }
}

.hero__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .hero__picture {
    grid-column: 1/-1;
    grid-row: 3/5;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .hero__picture {
    grid-row-start: 1;
    grid-column: none;
  }
}

.hero__image {
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .hero__image {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .hero__image {
    width: 552px;
    height: 499px;
  }
}

.hero__link {
  font-size: 16px;
  line-height: 20px;
  padding-left: 64px;
  display: block;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 20px;
  padding-right: 64px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .hero__link {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 29px;
    margin-left: 90px;
    padding: 14px 26px;
    width: 192px;
    font-size: 20px;
    line-height: 26px;
    height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero__link {
    margin: 0;
    grid-row-start: 2;
  }
}
