.hero {
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/index/background/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index/background/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index/background/index-background-mobile@2x.jpg") 2x,
      url("../../images/index/background/index-background-mobile@1x.jpg") 1x
    );
  background-size: 100% 302px, 100%;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 472px;
  color: $bg-basic-white;
  text-align: center;
  padding: 0 0 10px 0;
  margin-bottom: 8px;
}

@media (min-width: $tablet-width) {
  .hero {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 29px;
    min-height: 0;
    color: $base-color-title;
    text-align: left;
    background-image: none;
    width: 709px;
    margin-bottom: 525px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: 966px;
    padding-left: 190px;
    padding-right: 0;
    padding-bottom: 16px;
    position: unset;
    margin-bottom: 253px;
  }
}

@media (min-width: $desktop-width) {
  .hero::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: -7px;
    width: 50%;
    height: 694px;
    z-index: -2;
    background-image:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
      url("../../images/index/background/index-background-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/index/background/index-background-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/index/background/index-background-desktop@2x.jpg") 2x,
      url("../../images/index/background/index-background-desktop@1x.jpg") 1x,
    );
    background-size: cover;
    background-position: left;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    display: grid;
    grid-template-columns: 365px 117px 438px;
    grid-template-rows: 307px 55px 1fr;
  }
}

@media (min-width: $tablet-width) {
  .hero__content {
    min-height: auto;
    padding-left: 89px;
  }
}

@media (min-width: $desktop-width) {
  .hero__content {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $bg-basic-white;
  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 25px;
}

@media (min-width: $tablet-width) {
  .hero__title {
    min-height: 0;
    color: $base-color-title;
    text-align: left;
    max-width: 414px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .hero__title {
    padding: 0;
    margin-top: 77px;
    margin-bottom: 37px;
  }
}

.hero__subtitle {
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  color: $bg-basic-white;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .hero__subtitle {
    color: $base-color-title;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .hero__subtitle {
    padding: 0;
    max-width: 283px;
  }
}

@media (min-width: $tablet-width) {
  .hero__picture {
    position: absolute;
    top: 200px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .hero__picture {
    grid-column: 2/4;
    grid-row: 1/3;
    max-width: none;
    position: static;
  }
}

.hero__link {
  font-size: 16px;
  line-height: 20px;
  padding-left: 55px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .hero__link {
    padding: 14px 26px;
    width: 192px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .hero__link {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 0;
  }
}
