.information {
  padding: 0 20px 14px;
  height: 45px;
  width: 280px;
  display: flex;
  gap: 13px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .information {
    padding: 0 0 20px 0;
    height: 52px;
    width: 628px;
    position: relative;
  }
}

.information::after {
  content: "";
  position: absolute;
  font-size: 0;
  background-color: $base-color-title;
}

@media (min-width: $tablet-width) {
  .information::after {
    content: "";
    position: absolute;
    font-size: 0;
    background-color: $base-color-title;
  }
}

.information--email::after {
  mask-image: url("../../images/icons/stack.svg#mail");
  top: 16px;
  right: 33px;
  width: 18px;
  height: 14px;
}

@media (min-width: $tablet-width) {
  .information--email::after {
    mask-image: url("../../images/icons/stack.svg#mail");
    top: 20px;
    right: 15px;
    width: 18px;
    height: 14px;
  }
}

@media (min-width: $desktop-width) {
  .information--email::after {
    top: 18px;
    right: 75px;
  }
}

@media (min-width: $desktop-width) {
  .information--telephone {
    gap: 11px;
    width: 569px;
  }
}

.information--telephone::after {
  mask-image: url("../../images/icons/stack.svg#telephone");
  top: 15px;
  right: 34px;
  width: 17px;
  height: 17px;
}

@media (min-width: $tablet-width) {
  .information--telephone::after {
    mask-image: url("../../images/icons/stack.svg#telephone");
    top: 19px;
    right: 16px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .information--telephone::after {
    top: 17px;
  }
}

.information:last-child {
  padding-bottom: 24px;
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .information:last-child {
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .information:last-child {
    padding-bottom: 69px;
  }
}

.information__label {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .information__label {
    width: 65px;
    font-size: 20px;
    line-height: 29px;
    padding-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .information__label--telephone {
    width: 91px;
  }
}

.information__input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: $base-color-text;
  text-transform: uppercase;
  height: 18px;
  width: 151px;
  border: 1px solid $bg-border-special-gray;
  padding: 14px 49px 13px 15px;
}

.information__input--telephone {
  padding: 14px 41px 13px 15px;
}

@media (min-width: $tablet-width) {
  .information__input {
    height: 30px;
    width: 552px;
    padding: 10px 0 10px 20px;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .information__input {
    width: 473px;
    padding: 9px 0 10px 18px;
  }
}
