.inner-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  padding: 27px 42px 41px 20px;
  border-top: 1px solid $bg-dark-gray;
  border-bottom: 1px solid $bg-dark-gray;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .inner-container__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $tablet-width) {
  .inner-container__title--catalog {
    padding-top: 0;
    padding-left: 29px;
    padding-bottom: 93px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .inner-container__title--catalog {
    padding-top: 44px;
    padding-left: 109px;
    padding-bottom: 95px;
    border: none;
  }
}

.inner-container__text {
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 39px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .inner-container__text {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 66px 71px;
  }
}

@media (min-width: $desktop-width) {
  .inner-container__text {
    padding: 0 0 66px 111px;
  }
}
