.logo__image {
  padding-right: 60px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    max-width: none;
    padding-right: 13px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    max-width: none;
    padding-right: 14px;
  }
}

.logo__image:hover {
  opacity: 0.8;
}

.logo__image:active {
  opacity: 0.6;
}

.logo__text {
  padding-right: 72px;
}

@media (min-width: $tablet-width) {
  .logo__text {
    padding-right: 59px;
  }
}
@media (min-width: $desktop-width) {
  .logo__text {
    padding-right: 543px;
  }
}

@media (min-width: $tablet-width) {
  .logo__text--form {
    padding-right: 100px;
  }
}

.logo__text:hover {
  opacity: 0.8;
}

.logo__text:active {
  opacity: 0.6;
}
