@media (min-width: $tablet-width) {
  .more {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .more::before {
    content: "";
    position: absolute;
    top: 31%;
    left: 50%;
    width: 60px;
    height: 2px;
    background-color: $bg-icon-gray;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@media (min-width: $desktop-width) {
  .more::before {
    top: 30%;
  }
}

@media (min-width: $tablet-width) {
  .more::after {
    content: "";
    position: absolute;
    top: 31%;
    left: 50%;
    width: 60px;
    height: 2px;
    background-color: $bg-icon-gray;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $desktop-width) {
  .more::after {
    top: 30%;
  }
}

.more__link {
  text-decoration: none;
}

.more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  color: $additional-color-title;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 58px 0 8px 0;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .more__title {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    padding-top: 236px;
    padding-left: 95px;
    padding-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .more__title {
    padding-top: 224px;
    padding-left: 56px;
    padding-bottom: 24px;
  }
}

.more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .more__description {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    padding-left: 77px;
    padding-bottom: 92px;
  }
}

@media (min-width: $desktop-width) {
  .more__description {
    padding-left: 39px;
    padding-bottom: 102px;
  }
}

.more__button {
  padding: 10px 95px;
}

@media (min-width: $tablet-width) {
  .more__button {
    padding: 8px 80px 10px 79px;
    margin-left: 37px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .more__button {
    padding: 8px 39px 8px 39px;
    margin-left: 39px;
    font-size: 16px;
    line-height: 20px;
  }
}
