.nav {
  position: absolute;
  right: -320px;
  top: 0;
  background-color: $bg-basic-white;
  z-index: 2;
  margin-top: 65px;
  width: 320px;
  list-style: none;
  visibility: hidden;
  transition: transform 0.5s, visibility 0.5s;
}

.nav--nojs {
  position: static;
  visibility: visible;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .nav {
    position: static;
    z-index: 0;
    margin: 0;
    transition: none;
    width: 487px;
    display: flex;
    visibility: visible;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    background-color: transparent;
    width: 515px;
  }
}

.nav__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}


@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    width: 493px;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .nav__list--form {
    width: 535px;
  }
}

