@media (min-width: $desktop-width) {
  .other {
    margin-left: 111px;
  }
}

.other__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  text-align: left;
  margin: 0;
  padding: 25px 0 36px 20px;
  position: relative;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .other__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 80px 70px;
  }
}

@media (min-width: $desktop-width) {
  .other__title {
    padding: 75px 0 80px 0;
  }
}

.other__title::before {
  z-index: -1;
  top: 50%;
  left: -20px;
  right: -20px;
  transform: translateY(-50%);
  height: 2px;
  background-color: $bg-basic-white;
  content: "";
  position: absolute;
}

@media (min-width: $tablet-width) {
  .other__title::before {
    width: 418px;
    top: 21px;
    height: 6px;
    left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .other__title::before {
    width: 418px;
    top: 98px;
    height: 6px;
    left: -40px;
  }
}

.other__title::after {
  z-index: -2;
  top: 41px;
  left: 266px;
  width: 54px;
  height: 2px;
  background-color: $bg-basic-green;
  content: "";
  position: absolute;
}

@media (min-width: $tablet-width) {
  .other__title::after {
    width: 768px;
    top: 21px;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .other__title::after {
    width: 1440px;
    top: 98px;
    left: -110px;
  }
}
