.page__body {
  background-color: $bg-basic-white;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
}

.page__body-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
