.promo {
  width: 280px;
  height: 290px;
  background-image: url("../../images/catalog/background/gift-mobile@1x.jpg");
  margin: 37px 20px;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 707px;
    height: 200px;
    background-image: url("../../images/catalog/background/gift-tablet@1x.jpg");
    margin: 73px 31px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;
    height: 288px;
    background-image: url("../../images/catalog/background/gift-mobile@1x.jpg");
    margin: 191px 50px 73px 50px;
  }
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $bg-basic-white;
  position: relative;
  text-align: center;
  padding-top: 187px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .promo__text {
    text-align: left;
    padding-top: 69px;
    padding-left: 421px;
  }
}

@media (min-width: $desktop-width) {
  .promo__text {
    text-align: center;
    padding-top: 185px;
    padding-left: 41px;
    width: 161px;
  }
}

.promo__text::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../../images/icons/gift.svg#gift");
  background-size: 78px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .promo__text::before {
    width: 80px;
    height: 82px;
    top: 54px;
    left: 17%;
    background-size: 80px 82px;
  }
}

@media (min-width: $desktop-width) {
  .promo__text::before {
    left: 60%;
  }
}
