.social__link {
  position: relative;
}

.social__link:hover::before {
  background-color: $bg-basic-green;
}

.social__link:focus::before {
  background-color: $bg-basic-green;
}

.social__link:active::before {
  background-color: $bg-basic-green;
  opacity: 0.3;
}

.social__link::before {
  content: "";
  position: absolute;
  top: -9px;
  mask-repeat: no-repeat;
  background-color: $bg-special-gray;
  display: block;
}

@media (min-width: $tablet-width) {
  .social__link::before {
    top: -12px;
  }
}

@media (min-width: $desktop-width) {
  .social__link::before {
    top: -10px;
  }
}

.social__link--vkontakte::before {
  width: 28px;
  height: 22px;
  left: -42px;
  mask-image: url("../../images/icons/vkontakte.svg#vkontakte");
}

@media (min-width: $tablet-width) {
  .social__link--vkontakte::before {
    left: -23px;
  }
}

@media (min-width: $desktop-width) {
  .social__link--vkontakte::before {
    left: -40px;
  }
}

.social__link--youtube::before {
  width: 24px;
  height: 18px;
  left: -11px;
  mask-image: url("../../images/icons/youtube.svg#youtube");
}

@media (min-width: $tablet-width) {
  .social__link--youtube::before {
    width: 26px;
    height: 20px;
    left: 6px;
  }
}

@media (min-width: $desktop-width) {
  .social__link--youtube::before {
    left: -10px;
  }
}

.social__link--telegram::before {
  width: 19px;
  height: 17px;
  left: 19px;
  mask-image: url("../../images/icons/telegram.svg#telegram");
}

@media (min-width: $tablet-width) {
  .social__link--telegram::before {
    width: 24px;
    height: 18px;
    left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .social__link--telegram::before {
    left: 18px;
  }
}
